<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="keywords" content="同道大数据，北京同道伟业,足球数据">
    <meta name="description" content="同道大数据是北京同道伟业体育科技有限公司精心打造的一款以比赛数据为依托,服务球队及各足协的产品评估球队每场比赛表现及综合能力,评价球员赛季及单场比赛表现,定制化对手情报分析,为球队人才培养、梯队人才选拔、人才输出和引入提供科学依据从数据中挖掘足球运动的规律">
    <link href="../img/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/1.5.6/skins/default/index.css?v=ce6bf5e934" />
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/1.5.6/prism-min.js"></script>
    <title>直播-球迷服务-北京同道伟业</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css?v=76222c9f09"/>
    <link rel="stylesheet" type="text/css" href="../lib/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="css/fansheader.css?v=b791d4c0fa"/>
    <link rel="stylesheet" href="css/live.css?v=8bb78df84d"/>
</head>
<body>
<div id="header">
    <p><a href="../index.html"><img src="../img/fans/header01.png"/><span>返回官网</span></a><a href="live.html"><span>直播</span><img src="../img/fans/header03.png"/></a></p>
    <ul>
        <li>球迷服务</li>
        <li><a href="zhongchao.html">中超</a></li>
        <li><a href="zhongjia.html">中甲</a></li>
        <li><a href="zhongyi.html">中乙</a></li>
        <li><a href="shiyayu.html">世亚预</a></li>
        <li><a href="yaguan.html">亚冠</a></li>
        <li><a href="nvchao.html">女超</a></li>
        <li><a href="nvjia.html">女甲</a></li>
        <li><a href="nvzijinbiaosai.html">女子锦标赛</a></li>
        <li><a href="quanyunhui.html">全运会</a></li>
        <li><a href="zuxiebei.html">足协杯</a></li>
    </ul>
</div>
<div id="banner">
    <!--<span></span>
    <p>中乙联赛精彩直播</p>-->
</div>
<div id="aaa"></div>
<div id="alert">
    <div class="alert">
        <p></p>
        <span>×</span>
    </div>
</div>
<div id="live">
    <!--<div id="liveshow" style="width:calc(100% - 345px);height: 550px;"></div>-->
    <div id="J_prismPlayer" class="prism-player" style="width: calc(100% - 320px);height: 475px;"></div>
    <iframe src="" frameborder="0" style="width: calc(100% - 320px);height: 475px;"></iframe>
    <ul class="livelist">
    </ul>
    <!--<div class="swiper-container swiper-container-vertical swiper-container-free-mode">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <ul class="livelist">
                </ul>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>-->
</div>
<script src="../lib/jquery-2.2.3.min.js"></script>
<script src="../lib/swiper.jquery.min.js"></script>
<script type="text/javascript" src="../lib/ckplayer/ckplayer.js" charset="utf-8"></script>
<script src="../lib/layer.js"></script>
<script type="text/javascript" src="js/live.js?v=fc7c2f8166"></script>
</body>
</html>