body{
    height:100%;
    /*overflow: hidden;*/
    background: #000;
    min-width: 1200px;
}
#banner{
    width: 100%;
    height:100%;
    background:#fff url('../../img/fanslive/banner.png') no-repeat 0 0;
    background-size:100% ;
    position: fixed;
    top:0;
    -webkit-transition: all linear 0.8s;
    -moz-transition: all linear 0.8s;
    -ms-transition: all linear 0.8s;
    -o-transition: all linear 0.8s;
    transition: all linear 0.8s;
}
#banner span{
    position: absolute;
    width:5%;
    max-width: 80px;
    background: url('../../img/fanslive/bofang_m.png') no-repeat;
    background-size: cover;
    top:28%;
    left:72%;
}
#banner p{
    font-size: 36px;
    font-family: "黑体", "微软雅黑", "Microsoft Yahei";
    color: #231815;
    position: absolute;
    left:57.5%;
}
#nav{
    position: fixed;
}
#live{
    position: fixed;
    width:1185px;
    height:475px;
    left:50%;
    top:calc(50% + 39px);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all linear 0.8s;
    -moz-transition: all linear 0.8s;
    -ms-transition: all linear 0.8s;
    -o-transition: all linear 0.8s;
    transition: all linear 0.8s;
}
#liveshow,#J_prismPlayer,iframe{
    float: left;
    /*height:100%;*/
    background:url('../../img/fanslive/bofangyulan.png') no-repeat;
    background-size: cover;
    margin-right: 5px;
}
#J_prismPlayer{
    display: none;
}
#live .swiper{
    float: left;
}
.swiper-container {
    width: 340px;
    height: 100%;
}
.swiper-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 5px;
    top:0;
    z-index: 50;
    width: 1px;
    height: 100%;
    background: #fff;
}
.swiper-scrollbar-drag{
    width: 10px;
    background: #fff;
    left:-5px;
    border-radius: 0;
}
#live .livelist{
    width:315px;
    height:100%;
    float: left;
    overflow-y:auto;
}
#live .livelist li{
    height:115px;
    border:1px solid #b68485;
    margin-bottom:5px;
    background: #eeeceb;
}
#live .livelist li:last-child{
    margin:0;
}
#live .livelist li.active{
    background: #fff;
}
#live .livelist li.active h3{
    background: #cf111b;
}
#live .livelist li h3{
    background: #fff;
    height:30px;
    text-align: center;
    border-bottom:1px solid #fff;
    color:#cf111b;
    font:bold 12px/30px "黑体", "微软雅黑", "Microsoft Yahei";
}
#live .livelist li.active h3{
    border-bottom-color: #cf111b;
    color: #fff;
}
#live .livelist li div.content{
    padding:10px 10px;
    /*overflow: hidden;*/
}
#live .livelist li div.content:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
#live .livelist li div.content p{
    width:110px;
    text-align: center;
    float: left;
}
#live .livelist li div.content p img{
    width:55px;
    height:55px;
}
#live .livelist li div.content p span{
    display: block;
    font: 12px/14px "黑体", "微软雅黑", "Microsoft Yahei";
    color:#231815;
    height:18px;
    overflow: hidden;
	white-space: nowrap;
}
#live .livelist li div.content div{
    float: left;
    width:58px ;
    text-align: center;
}
#live .livelist li div.content div span{
    display: block;
    margin-bottom:10px;
    font-size: 12px;
    font-family: "黑体", "微软雅黑", "Microsoft Yahei";
}
#live .livelist li div.content div span:nth-child(2){
    display: block;
    height: 20px;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: bold;
    color: #cf111b;
    line-height: 23px;
    font-family: '微软雅黑';
}
#live .livelist li div.content div img.vs{
    width:40px;
    height:20px;
    margin: 0 auto;
}
#live .livelist li div.content div img.bofang{
    width: 15px;
    height:15px;
    margin-top:10px;
}
#live .livelist::-webkit-scrollbar {
    width:8px;
    height:10px;
    float: right;
    background: #fff;
    border:1px solid #231815;
    margin-left:2px;
}
#live .livelist::-webkit-scrollbar-button    {
    background: #fff;
    height:0;
    border:1px solid #231815;
}
#live .livelist::-webkit-scrollbar-track     {
    background-color:#fff;
    border:1px solid #231815;
}
#live .livelist::-webkit-scrollbar-thumb{
    background:#231815;
    border-radius:0;
}
/*alert弹框*/
#alert{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.2);
    z-index: 999;
    display: none;
}
#alert .alert{
    position: fixed;
    width:200px;
    height:85px;
    left:calc(50% - 100px);
    top:calc(50% - 42px);
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:0 0 6px 1px #ccc;
    -moz-box-shadow:0 0 6px 1px #ccc;
    box-shadow:0 0 6px 1px #ccc;
    padding:30px;
}
#alert .alert p{
    text-align: center;
}
#alert .alert span{
    position: absolute;
    font-size: 18px;
    width:20px;
    height:20px;
    line-height: 25px;
    text-align: center;
    right:6px;
    top:6px;
    cursor: pointer;
}