<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=renderer content=webkit>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="./static/ckplayer/ckplayer.js" ></script>
    <title>同道传媒后台录入</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
