<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>介绍</title>
		<script src="lib/vue.js"></script>
		<style type="text/css">
			div{
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		
		<div id="app">
			{{message}}
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el:'#app',
				data:{
					message:'Hello World!'
				}
			})
		</script>
		
		
		<div id="app2">
			<span v-bind:title="message">悬停查看</span>
		</div>
		<script type="text/javascript">
			var app2 = new Vue({
				el:'#app2',
				data:{
					message:'Hello World!'
				}
			})
		</script>
		
		
		
		<div id="app3">
			<p v-if="show">显示</p>
			<p v-else>不显示</p>
		</div>		
		<script type="text/javascript">
			var app3 = new Vue({
				el:'#app3',
				data:{
					show:true
				}
			})
		</script>
		
		
		
		<div id="app4">
			<p v-for="todo in todos">{{todo.name}}</p>
		</div>
		<script type="text/javascript">
			var app4 = new Vue({
				el:'#app4',
				data:{
					todos:[
						{name:'姓名1'},
						{name:'姓名2'},
						{name:'姓名3'},
						{name:'姓名4'},
						{name:'姓名5'}
					]
				}
			})
		</script>
		
		
		
		<div id="app5">
			<span>{{message}}</span>
			<button v-on:click="addNum">+1</button>
		</div>
		<script type="text/javascript">
			var app5 = new Vue({
				el:'#app5',
				data:{
					message:1
				},
				methods:{
					addNum:function () {
						this.message += 1
					}
				}
			})
		</script>
		
		
		
		<div id="app6">
			<p>{{message}}</p>
			<input type="text" v-model="message"/>			
		</div>
		<script type="text/javascript">
			var app6 = new Vue({
				el:'#app6',
				data:{
					message:'数据绑定'
				}
			})
		</script>
		
		
		
		<div id="app7">
			<ul>
				<todo-item></todo-item>
				<li is='todo-item'></li>
			</ul>			
		</div>
		<script type="text/javascript">
			Vue.component('todo-item',{
				template:'<li>这是一个模板</li>'
			})
			var app7 = new Vue({
				el:'#app7'
			})
		</script>
		
		
		
		<div id="app8">
			<todo-name v-for="i in todos" v-bind:todo="i" v-bind:key="i.id"></todo-name>
		</div>
		<script type="text/javascript">
			Vue.component('todo-name',{
				props:['todo'],
				template:'<p>姓名:{{todo.name}}&nbsp;&nbsp;年龄:{{todo.age}}</p>'
			})
			var app7 = new Vue({
				el:'#app8',
				data:{
					todos:[
						{name:'姓名1',age:1},
						{name:'姓名2',age:2},
						{name:'姓名3',age:3},
						{name:'姓名4',age:4},
						{name:'姓名5',age:5}
					]
				}
			})
		</script>
	</body>
</html>
